SPRING_SECURITY_USER_NAME = #kafbat
SPRING_SECURITY_USER_PASSWORD = #kafbat

POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 
MODE = 

MINIO_ROOT_USER = 
MINIO_ROOT_PASSWORD =
MINIO_ENDPOINT_URL = 

PGADMIN_DEFAULT_EMAIL = 
PGADMIN_DEFAULT_PASSWORD = 
PGADMIN_CONFIG_SERVER_MODE = 
PGADMIN_CONFIG_LOGIN_BANNER = 