POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 

MINIO_ROOT_USER = 
MINIO_ROOT_PASSWORD = 
MINIO_ENDPOINT_URL = 
MINIO_BUCKET_NAME_VIDEOS = videos
MINIO_BUCKET_NAME_FRAMES = frames